<ibm-header [route]="['/']" name="Library" brand="CodeGym">
	<ibm-header-navigation ariaLabel="Library">
<!--		<ibm-header-item [route]="['/repos']">Repositories</ibm-header-item>-->
		<ibm-header-item [route]="['/books']">Quản lý sách</ibm-header-item>
		<ibm-header-menu title="Mượn / Trả">
			<ibm-header-item [route]="['/borrows']">Danh sách</ibm-header-item>
			<ibm-header-item [route]="['/borrows/add']">Thêm mới</ibm-header-item>
		</ibm-header-menu>
		<ibm-header-menu title="Quản lý">
			<ibm-header-item>Danh mục sách</ibm-header-item>
			<ibm-header-item>Tài khoản thủ thư</ibm-header-item>
		</ibm-header-menu>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg ibmIconNotification size="20"></svg>
		</ibm-header-action>
		<ibm-header-action [routerLink]="['/auth/login']" title="action">
			<svg ibmIconUserAvatar size="20"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIconAppSwitcher size="20"></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>
