<ibm-header [route]="['/']" name="Library" brand="CodeGym">
	<ibm-header-navigation ariaLabel="Library">
		<ibm-header-item [route]="['/repos']">Repositories</ibm-header-item>
		<ibm-header-menu title="Thống kê">
			<ibm-header-item>Thống kê sách</ibm-header-item>
			<ibm-header-item>Mượn/Trả</ibm-header-item>
		</ibm-header-menu>
		<ibm-header-menu title="Thư viện">
			<ibm-header-item>Danh sách</ibm-header-item>
			<ibm-header-item>Thêm mới</ibm-header-item>
		</ibm-header-menu>
		<ibm-header-menu title="Thủ thư">
			<ibm-header-item>Danh sách</ibm-header-item>
			<ibm-header-item>Thêm mới</ibm-header-item>
		</ibm-header-menu>
		<ibm-header-menu title="Danh mục sách">
			<ibm-header-item>Danh sách</ibm-header-item>
			<ibm-header-item>Thêm mới</ibm-header-item>
		</ibm-header-menu>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg ibmIconNotification size="20"></svg>
		</ibm-header-action>
		<ibm-header-action [routerLink]="['/auth/login']" title="action">
			<svg ibmIconUserAvatar size="20"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIconAppSwitcher size="20"></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>
