<div class="login-page">
	<div ibmGrid class="login-wrap">
		<div ibmRow>
			<div class="modal-wrap">
				<div class="modal-form">
					<div ibmGrid>
						<div ibmRow><h3>Đăng nhập</h3></div>
						<div style="height: 40px;"></div>
						<div ibmRow>
							<ibm-label
								[helperText]="'Tên người dùng'"
								[invalid]="false"
							>
								<input
									ibmText
									[invalid]="false"
									[disabled]="currentState === 1"
									[theme]="'light'"
									[placeholder]="'Ví dụ: thu.thu'"
									[autocomplete]="'on'"
								/>
							</ibm-label>
						</div>
						<div style="height: 40px;"></div>
						<div ibmRow>
							<ibm-label
								[helperText]="'Mật khẩu'"
								[invalid]="false"
							>
								<input
									ibmText
									[invalid]="false"
									[disabled]="currentState === 1"
									[theme]="'light'"
									[type]="'password'"
									[autocomplete]="'on'"
								/>
							</ibm-label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ibmRow class="button-group">
			<div ibmCol [columnNumbers]="{ lg: 8 }" style="padding: 0;">
				<button [ibmButton]="'tertiary'" [disabled]="true" style="width: 100%;">
					Đăng nhập với CodeGymID
				</button>
			</div>
			<div ibmCol [columnNumbers]="{ lg: 8 }" style="padding: 0;">
				<button *ngIf="currentState === 0" ibmButton style="width: 100%;" (click)="doSignin()" [disabled]="currentState === 1">
					Đăng nhập
					<svg ibmIconChevronRightGlyph class="bx--btn__icon" size="16"></svg>
				</button>
				<ibm-inline-loading
					*ngIf="currentState == 1"
					[loadingText]="'Đang xử lý'"
					[successText]="'Đăng nhập thành công!'"
				>
				</ibm-inline-loading>
			</div>
		</div>
	</div>
</div>
