<div ibmGrid class="bx--grid--full-width landing-page">
	<div ibmRow class="landing-page__banner">
		<div ibmCol [columnNumbers]="{ lg: 16 }">
			<ibm-breadcrumb noTrailingSlash="true" ariaLabel="Page navigation">
				<ibm-breadcrumb-item href="/">
					Trang chính
				</ibm-breadcrumb-item>
			</ibm-breadcrumb>
			<h1 class="landing-page__heading">
				Quản lý Thư viện CodeGym
			</h1>
		</div>
	</div>
	<div ibmRow class="landing-page__r2">
		<div ibmCol class="bx--no-gutter">
			<ibm-tabs ariaLabel="Tab navigation">
				<ibm-tab heading="Giới thiệu">
					<div
						ibmGrid
						class="bx--grid--no-gutter bx--grid--full-width"
					>
						<div ibmRow class="landing-page__tab-content">
							<div ibmCol [columnNumbers]="{ md: 4, lg: 7 }">
								<h2 class="landing-page__subheading">
									Văn hóa CodeGym
								</h2>
								<p class="landing-page__p">
									Tinh thần ham thích, chủ động học tập, kiên trì rèn luyện để phát triển bản thân là nền tảng cốt lõi cho văn hoá CodeGym. CodeGym không dạy mà chỉ đồng hành cùng mọi thành viên đến với gia đình CodeGym, dẫn dắt, giúp đỡ để họ có thêm năng lực và niềm tin trên bước đường phát triển bản thân lâu dài. Sự thành công của mỗi cá nhân nằm ở chính bản thân họ, ở ý thức và sự quyết tâm của mỗi người. Chúng tôi tin rằng kỷ luật, sự năng động và tinh thần cầu tiến sẽ đưa đến sự thành công cho mỗi thành viên CodeGym.
								</p>
								<a ibmButton href="https://we.codegym.vn">Xem thêm</a>
							</div>
							<div
								ibmCol
								class="bx--offset-lg-1"
								[columnNumbers]="{ md: 4, lg: 8 }"
							>
								<img
									class="landing-page__illo"
									src="../../../assets/pablo.png"
									alt="Carbon illustration"
								/>
							</div>
						</div>
					</div>
				</ibm-tab>
				<ibm-tab heading="Tầm nhìn">
					<div
						ibmGrid
						class="bx--grid--no-gutter bx--grid--full-width"
					>
						<div ibmRow class="landing-page__tab-content">
							<div ibmCol [columnNumbers]="{ lg: 16 }">
								<q>Trở thành hệ thống đào tạo lập trình hiện đại hàng đầu khu vực, là chủ lực cung cấp nhân lực chất lượng cao cho ngành công nghiệp, góp phần nâng tầm phát triển ngành phần mềm Việt Nam, tiến kịp tiêu chuẩn quốc tế.</q>
							</div>
						</div>
					</div>
				</ibm-tab>
				<ibm-tab heading="Sứ mệnh">
					<div
						ibmGrid
						class="bx--grid--no-gutter bx--grid--full-width"
					>
						<div ibmRow class="landing-page__tab-content">
							<div ibmCol [columnNumbers]="{ lg: 16 }">
								<q>Phát triển các giải pháp học tập hiện đại và hiệu quả thông qua các mô hình đào tạo tiên tiến trên nền tảng công nghệ giáo dục và sự cộng tác sâu rộng giữa các bên liên quan, đặc biệt là doanh nghiệp. Qua đó, CodeGym giúp người học phát triển tay nghề vững vàng, sẵn sàng làm việc, và có khả năng tự học suốt đời hiệu quả, thích ứng với cuộc Cách mạng Công nghiệp 4.0.</q>
							</div>
						</div>
					</div>
				</ibm-tab>
			</ibm-tabs>
		</div>
	</div>
<!--	<app-info-section></app-info-section>-->
</div>
<ibm-placeholder></ibm-placeholder>
