<div class="notification-container"></div>

<ibm-table-container>
	<ibm-table-header>
		<h4 ibmTableHeaderTitle>Danh sách mượn / trả</h4>
	</ibm-table-header>
	<ibm-table-toolbar [model]="model">
		<ibm-table-toolbar-actions>
		</ibm-table-toolbar-actions>
		<ibm-table-toolbar-content>
			<ibm-table-toolbar-search [disabled]="skeleton" [expandable]="true"></ibm-table-toolbar-search>
			<button ibmButton="primary" size="sm" [disabled]="skeleton" [routerLink]="['/borrows/add']">
				Thêm Phiếu Mượn
				<svg ibmIconAdd size="20" class="bx--btn__icon"></svg>
			</button>
		</ibm-table-toolbar-content>
	</ibm-table-toolbar>

	<ibm-table
		[skeleton]="skeleton"
		[model]="skeleton ? skeletonModel : model"
		[showSelectionColumn]="false"
		[striped]="false">
		<tbody ><tr><td class="no-data" colspan="5"><div>Không có thông tin mượn sách.</div></td></tr></tbody>
	</ibm-table>
	<ibm-pagination
		[model]="model"
		(selectPage)="selectPage($event)">
	</ibm-pagination>
</ibm-table-container>

<ng-template #actionTemplate let-data="data">
	<button ibmButton="ghost" size="sm" *ngIf="data.id" (click)="showReturnBook(data.id, data.book.title)">Trả sách <svg ibmIconReply size="16" class="bx--btn__icon"></svg></button>
</ng-template>

<ng-template #statusTemplate let-data="data">
	<app-book-status [status]="data.status"></app-book-status>
</ng-template>

<ng-template #expandedTemplate let-data="data">
	<p>Phòng ban: {{data.department}}</p>
	<p>Ngày mượn: {{data.date_borrowed}}</p>
</ng-template>

<ibm-loading [title]="'Đang cập nhật'" [isActive]="isUpdateReturn" [size]="'sm'" [overlay]="isUpdateReturn"></ibm-loading>
<ibm-placeholder></ibm-placeholder>
