<ibm-modal size="xl" (overlaySelected)="closeModal()">
	<ibm-modal-header (closeSelect)="closeModal()">
		<p class="bx--modal-header__label bx--type-delta">{{label}}</p>
		<p class="bx--modal-header__heading bx--type-beta">{{ title }}</p>
	</ibm-modal-header>
	<section class="bx--modal-content">
		<p class="bx--modal-content__text">
			<ibm-label>
				Tên sách
				<input
					ibmText>
			</ibm-label>
			<ibm-label>
				Tác giả
				<input
					ibmText>
			</ibm-label>

			<ibm-select [label]="'Loại sách'">
				<option value="default" disabled selected hidden>Choose an option</option>
				<option value="option1">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="option3">Option 3</option>
			</ibm-select>

			<ibm-label>
				Ghi chú
				<textarea
					ibmTextArea
					[rows]="5"
					[cols]="100"
					[placeholder]="'test'"
					aria-label="textarea">
				</textarea>
			</ibm-label>
		</p>
		<br/><br/>
	</section>
	<ibm-modal-footer>
		<button ibmButton="secondary" (click)="closeModal()">
			Cancel
		</button>
		<button ibmButton="primary" (click)="closeModal()">
			Agree
		</button>
	</ibm-modal-footer>
</ibm-modal>
