<form [formGroup]="bookForm" (ngSubmit)="doSave()">

	<ibm-modal size="xl" (overlaySelected)="closeModal()">
		<ibm-modal-header (closeSelect)="closeModal()">
			<p class="bx--modal-header__label bx--type-delta">{{label}}</p>
			<p class="bx--modal-header__heading bx--type-beta">{{ title }}</p>
		</ibm-modal-header>
		<section class="bx--modal-content">
			<p class="bx--modal-content__text">
				<ibm-label>
					Tên sách
					<input
						ibmText
						formControlName="title"
						[disabled]="isProcessing"
					/>
				</ibm-label>
				<ibm-label>
					Tác giả
					<input
						ibmText
						formControlName="authors"
						[disabled]="isProcessing"
					>
				</ibm-label>

				<ibm-select
					[label]="'Loại sách'"
					formControlName="category_id"
					[disabled]="isProcessing"
				>
					<option value="0" selected>Chọn danh mục</option>
					<option
						*ngFor="let category of categories" [value]="category.id"
						[selected]="book && book.category && category.id === book.category.id"
					>
						{{category.name}}
					</option>
				</ibm-select>

				<ibm-label>
					Ghi chú
					<textarea
						ibmTextArea
						formControlName="note"
						[rows]="5"
						[cols]="100"
						[disabled]="isProcessing"
						aria-label="textarea">
				</textarea>
				</ibm-label>
			</p>
			<br/><br/>
		</section>
		<ibm-modal-footer>
			<button ibmButton="secondary" (click)="doSecondary()">
				{{secondaryLabel}}
			</button>
			<button ibmButton="primary" type="submit" *ngIf="!isProcessing">
				Lưu
			</button>
			<ibm-inline-loading
				*ngIf="isProcessing"
				[loadingText]="'Đang xử lý'">
			</ibm-inline-loading>
		</ibm-modal-footer>
	</ibm-modal>

</form>
